@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
  --primary-color : #050A30;
  --secondary-color : #F4F6FC;
  --font : Poppins;
}
*{
  margin: 0%;padding: 0%;box-sizing: border-box;
  font-family: var(--font);
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none !important;
  list-style: none;
}
html{
  scroll-behavior: smooth;
}